.root{
    -fx-background-color: orange;
    -fx-spacing: 15px;
}
#ProfileInfo {
    -fx-background-color: #342f2f;
    -fx-text-fill: White;
    -fx-spacing: 15px;
    -fx-alignment: Center;
    -fx-padding: 7px;
}
#ProfileName{
    -fx-text-fill: white;
    -fx-font-size: 30px;

    -fx-border-radius: 30px;
    -fx-translate-x: -330px;

}
#Bio {
    -fx-fill-width: 200px;
    -fx-text-fill: white;
}
#PhotosBox{
    -fx-spacing: 40px;
    -fx-alignment: center;
    -fx-padding: 10px;
}

#Management{
    -fx-spacing: 50px;
    -fx-alignment: center;
    -fx-padding:10px;
}

Button {
    -fx-background-color: black;
    -fx-text-fill: orange;
    -fx-min-width: 50px;
    -fx-min-height:30px;

}
.bio-box{
    -fx-padding: 15px;
    -fx-spacing: 15px;
}
.bio-label{
        -fx-font-size: 18px; /* Slightly larger heading */
        -fx-font-weight: bold;
        -fx-text-fill: #1c1e21;
}
.posts-label{
    -fx-padding:20;
    -fx-alignment:center;
    -fx-font-size: 18px; /* Slightly larger heading */
    -fx-font-weight: bold;
    -fx-text-fill: #1c1e21;
    -fx-background-color:#94d42f;
}
.posts{
    -fx-padding:15;
    -fx-spacing:15;
    -fx-border-color:black;
    -fx-border-width:2;
    -fx-background-color:#94d42f;
}
.image-and-name{
    -fx-padding:15;
    -fx-spacing:10;
}
.post-authorname{
    -fx-font-size: 18px; /* Slightly larger heading */
    -fx-font-weight: bold;
    -fx-text-fill: #1c1e21;
}
.post-time{
    -fx-text-fill:gray;
    -fx-font-size:11px;
}
.image-box{
    -fx-padding:5;
    -fx-alignment:center;
}
.post-scroll-pane{
    -fx-background-color:#94d42f;
    -fx-border-color:black;
    -fx-border-width:2;
    -fx-padding:10;
    -fx-spacing:10;
}
.single-post{
        -fx-background-color:#94d42f;
        -fx-border-color:black;
        -fx-border-width:1;
        -fx-padding:5;
        -fx-spacing:5;
        -fx-border-radius:10;
}
.post-text{
        -fx-background-color:#94d42f;
        -fx-border-radius:10;
        -fx-padding:5;
        -fx-font-size:14px;
}
.posts-box{
        -fx-background-color:#94d42f;
        -fx-padding:5;
        -fx-spacing:5;
}