.root{
    -fx-padding:5;
    -fx-spacing:15;
    -fx-alignment:center;
    -fx-background-color: #fd5a00;
}
Button{
    -fx-background-color:red;
    -fx-text-fill: white;
    -fx-min-weight:100px;
}