.root {
    -fx-background-color: #85a98f;
    -fx-alignment: center;
    -fx-spacing: 40px;
}
#Components {
    -fx-vgap: 20px;
    -fx-hgap: 50px;
}
DatePicker{
    -fx-min-width: 100px;
}
Button{
    -fx-text-fill: White;
    -fx-background-color: #525b44;
    -fx-background-radius: 20px;
    -fx-min-width: 100px;
}

